.after-hours {
  color: #aaa;

  &#rocket-chat {
    background-color: #353C42;
  }

  .burger i {
    background-color: #fff;
  }

  .message .user, .message .user:hover {
    color: #fff;
  }

  .fixed-title {
    background: #30373C;
    border-bottom-color: #2C3136;
  }

  .messages-container {
    background-color: #353C42;

    .footer {
      background: #30373C;
      border-top-color: #2C3136;
    }

    .message-form {

      textarea {
        background-color: #353C42;
        border-color: #212529;
        color: #DDD;
      }

      .users-typing {
        color: #aaa;
        background: #30373C;
      }

      .formatting-tips {
        color: #aaa;
      }

      &>div>.file {
        background-color: #24282B;
        border-color: #212529;
      }

      &>div>.file:hover {
        background-color: #1E2225;
        border-color: #212529;
      }
    }

    .wrapper::-webkit-scrollbar-thumb {
      background-color: #272C2F;
      -webkit-border-radius: 50px;
    }
  }

  .flex-tab {
    background-color: #30373C;
    border-left-color: #2C3136;

    .content {
      background-color: #353C42;
    }

    .control {
      background-color: #30373C;
    }
  }

  .flex-tab-bar {
    background: #30373C;
    border-left: 1px solid #2C3136;

    .tab-button {
      background: #30373C;
      border-bottom: 1px solid #171A1D;
      &:hover {
        background: #3C444A;
      }
      &.active {
        background-color: #2c75c9;
        border-right: 3px solid #2C75C9;
        color: #fff;
      }
    }
  }

  .message.new-day {
    &:before {
      background-color: #30373C;
    }
    &:after {
      border-top-color: #292F33;
    }
  }

  .wiseguy-wrap {
    .new-day {
      &:before {
        background-color: #30373C;
      }
      &:after {
        border-top-color: #292F33;
      }
    }
  }

  .wiseguy-alert-list {

    hr {
      border-color: #2B3135;
    }

    .wiseguy-alert {

      .wisecon {
        border-color: #2B3135;
        color: #5F6D77;
      }

      .bearish, .bullish {
        color: #353C42;
      }
    }

    .wiseguy-alert:hover .wisecon {
      background-color: #40484E;
    }
  }

  textarea, select, input[type='text'], input[type='number'], input[type='email'], input[type='password'] {
    border-color: #212529;
    background-color: #353C42;
  }

  .scrollable::-webkit-scrollbar-thumb {
    background-color: #272C2F;
    -webkit-border-radius: 50px;
  }

  .page-static {

    label {
      color: #fff
    }

    input {
      color: #ccc;
    }

    .avatar-suggestion-item {
      background-color: #30373C;
      border-color: #2C3136;

      .avatar {
        background-color: #292F33;
      }
    }

  }
}