<template name="adminIntegrations">
	<section class="page-container page-list page-static">
		<head class="fixed-title">
			{{> burger}}
			<h2>
				<span class="room-title">{{_ "Integrations"}}</span>
			</h2>
		</head>
		<div class="content">
			<div class="rocket-form">
				<fieldset>
					<div class="section">
						<div class="section-content">
							<div class="input-line double-col">
								<label>{{_ "Service Name"}}</label>
								<div>
									<input type="text" name="integration_name" />
								</div>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="submit">
					<button class="button create">{{_ "Create New Integration"}}</button>
				</div>
			</div>
			<div class="section">
				<div class="section-content">
					<h3>Current Integrations</h3>
					<div class="integrations-list">
						{{#each integrations}}
						<div class="integration-item">
							<div class="integration-name">
								{{name}}
							</div>
							<div class="integration-key">
								<pre>API_KEY: {{key}}</pre>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
